

div.Copy {
  
  width:150;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  
 
  }
  
body {
  font-family: sans-serif;
  padding: 90px 20px 0;
}

.header {
  background-color: rgb(245,245,245);
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: space-between;

  max-width: 992px;
  margin: 0 auto;
}

.nav-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: rgb(212, 212, 212);
  transition: 0.5s;
}

/* TOGGLE */
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;

  display: none;
}

/* MOBILE */
@media (max-width: 768px) {
  body {
    padding-top: 70px;
  }

  .header {
    height: 60px;
  }

  .logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #2c3e50;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;

    height: calc(100% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu-item {
    line-height: 70px;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
    color: #83c5f7;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
}
#Cappp{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
  )
  ,url("media/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.contenedor-episodios{
  flex-direction: column;
  align-items: center;
  margin: 0;
  
}
.h1 {
  background-color: #0769e9;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.c1{
  width: 100%;
  
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  align-items: flex-start;
}
div.about-ep{
  text-align: center;
  text-shadow: 2px 2px 5px purple;
  padding: 10px;
  }
  div.title {
  
    text-align: center;
    text-shadow: 2px 2px 5px purple;
    padding: 10px;


}
div.c:hover{
  border: 1px solid lightcoral;
  transform: rotate(-3deg);
  }
  div.contenedor-episodios{

  
  
    
    margin-left: auto;
    margin-right: auto;
    }
    .c1 img{
      width: 100%;
      
      height: 110px;
      border-radius: 10px;
      
      }
      h1{

        color: white;
      }
     
      #Cappp {
        position: relative;
        padding-bottom: 56.25%; /* 16/9 ratio */
        padding-top: 30px; /* IE6 workaround*/
        height: 0;
        overflow: hidden;
        }
        
        #Cappp iframe,
        #Cappp  object,
        #Cappp  embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }